
body { background-color : #b0c4de}

h1.schoolscope { text-align : center; }

table.inputFields {
    border-collapse: separate;
    border-spacing: 10px 5px;
	}

hr.partial {width: 20%;
			margin: 0px;
			margin-top: 20px;
			margin-bottom: 20px;
			} 

hr.major   {border-width : 3px;
			border-style : inset; 
			}

form.inputFields  { display: table;		 }

p     { display: table-row;  }
p.one { background-color: #5794ad; }
p.two { background-color: #1580ad; }

label { display: table-cell; 
		padding-right: 10px;
		vertical-align: middle;
		}

input { display: table-cell;
	background-color : #cacaca; 
      }
legend {font-weight: bold; }

textarea.content {width: 500px;
		  	 	  height: 100px;
		  	 	  background-color: #cacaca;
 				 }

textarea.inmsgs {width  : 100%;
                 height : 400px;
                 background-color  : #1580ad;
                 border: groove 3px #0b2ba3;
                 color : white;
                 }
                 
textarea.instats {width  : 40%;
				  height : 100px;
				  background-color  : #1580ad;
				  border: groove 3px #0b2ba3;
				  color : white;
				  margin : auto;
				  margin-bottom : 10px;
				 }

input[type=button]#inmsgsClear { background-color : #1580ad; }

input[type=button]#playFrameVisiBtn { margin-bottom : 7px; }
				 
.align-center    {display : block;
				  margin: 1.0em auto;
				  text-align : center; 
				}

input[type=button] { background-color: #5794ad;
					 color: white; 
				   }				

input[type=button]:disabled { background-color: gray; }				   
				   
input[type=submit] { background-color: #5794ad;
					 color: white; 
				   }
				   
input[type=radio].serverSelector  { border: green; }

label.paddleft	{padding-left: 20px; }

fieldset#servers { display: none;}

iframe.playFrame { display : block; 
				    margin : 0 auto; }